
<div class="container my-5">
  <div class="row">
  @for(item of product ; track $index){
    <div class="col-md-6">
      <img
        [src]="item.images[0]"
        class="img-fluid"
        alt="Product Image"
      />
    </div>
    <div class="col-md-6">
      <!-- Placeholder for Product Details -->
      <h1>{{ item }}</h1>
      <p><strong>Price:</strong> {{ item.price }}</p>
      <p><strong>Description:</strong> {{ item.description }}</p>
      <p><strong>Category:</strong> {{ item.category }}</p>
      <button class="btn btn-primary">Add to Cart</button>
    </div>
  }
  </div>
</div>
