<p-carousel>
    [value]="categories" 
    [numVisible]="3" 
  [circular]="true"
  autoplayInterval="3000"
    
    <ng-template let-category pTemplate="item">
        <div class="border-1 surface-border border-round m-2 p-3" routerLink="/details/{{category.id}}">
            <div class="mb-3">
                <div class="relative mx-auto">
                    <img 
                        [src]=" category.image " 
                        [alt]="category.name" 
                        class="w-full border-round" />
                </div>
            </div>
            <div class="mb-3 font-medium">
                {{ category.price }}
            </div>
        </div>
    </ng-template>

</p-carousel>

<!-- <p-carousel
  [value]="categories"
  [numVisible]="3"
  [numScroll]="3"
  [circular]="true"
  autoplayInterval="3000"
>
  <ng-template let-product pTemplate="item">
    <div class="border-1 surface-border border-round m-2 p-3">
      <div class="mb-3">
        <div class="relative mx-auto">
          <img
            [src]="categories.image"
            [alt]="categories.name"
            class="w-full border-round"
          />
        </div>
      </div>
      <div class="flex justify-content-between align-items-center">
        <div class="mt-0 font-semibold text-xl">
          {{ "$" + categories.price }}
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel> -->
